.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-Bag56i8Ip3ye);
  min-width: 0;
}
.freeBox__uzIz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 64px var(--token-rXETaqYQ_vSW);
}
.freeBox__uzIz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-cwXBKyst0naA));
  height: calc(100% + var(--token-cwXBKyst0naA));
}
.freeBox__uzIz > :global(.__wab_flex-container) > *,
.freeBox__uzIz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uzIz > :global(.__wab_flex-container) > picture > img,
.freeBox__uzIz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-cwXBKyst0naA);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uzIz {
    padding-right: var(--token-uYBZNL1P_6gm);
    padding-left: var(--token-uYBZNL1P_6gm);
  }
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-grow: 0;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  --plsmc-rc-col-gap: 64px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__krxYm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__krxYm {
    width: 100%;
  }
}
.freeBox__mILsI {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__mILsI > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__mILsI > :global(.__wab_flex-container) > *,
.freeBox__mILsI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mILsI > :global(.__wab_flex-container) > picture > img,
.freeBox__mILsI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__q9A25 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__q9A25 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__q9A25 > :global(.__wab_flex-container) > *,
.freeBox__q9A25 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__q9A25 > :global(.__wab_flex-container) > picture > img,
.freeBox__q9A25
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__gHvW4 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 500;
  color: var(--token-ht1wrsaFbfvI);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  white-space: pre;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gHvW4 {
    font-size: 18px;
  }
}
.text___2DK2Z {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-UMbxF5R-PjPk);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___2DK2Z {
    font-size: 12px;
  }
}
.column__ycNbm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ycNbm {
    width: 100%;
  }
}
.freeBox__rrv9U {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__rrv9U > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__rrv9U > :global(.__wab_flex-container) > *,
.freeBox__rrv9U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rrv9U > :global(.__wab_flex-container) > picture > img,
.freeBox__rrv9U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__dvYUo {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-0WIy-PTvIQv8);
  height: auto;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dvYUo {
    font-size: 14px;
  }
}
.button__e8Tee:global(.__wab_instance) {
  position: relative;
}
.svg__cs7Ak {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__vJiP {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-UMbxF5R-PjPk);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vJiP {
    font-size: 12px;
  }
}
.svg__tSnf4 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link {
  position: relative;
  display: flex;
}
.svg___7VoL {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___70CRv {
  height: auto;
  color: var(--token-UMbxF5R-PjPk);
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___70CRv {
    font-size: 12px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--token-UMbxF5R-PjPk);
    text-align: left;
    text-transform: none;
    line-height: 1.5;
    letter-spacing: normal;
    white-space: pre;
    user-select: text;
    text-decoration-line: none !important;
    text-overflow: clip !important;
  }
}
.svg__geNiS {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column___1Iwt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___1Iwt {
    width: 100%;
  }
}
.freeBox___1WdQ {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox___1WdQ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___1WdQ > :global(.__wab_flex-container) > *,
.freeBox___1WdQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1WdQ > :global(.__wab_flex-container) > picture > img,
.freeBox___1WdQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__qhQe {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-0WIy-PTvIQv8);
  height: auto;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qhQe {
    font-size: 14px;
  }
}
.button__ljKRu:global(.__wab_instance) {
  position: relative;
}
.svg___1AKwj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__abeHo {
  color: var(--token-UMbxF5R-PjPk);
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__abeHo {
    font-size: 12px;
  }
}
.svg__b5Znu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button___1GNr3:global(.__wab_instance) {
  position: relative;
}
.svg__m0JeC {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__v6L15 {
  color: var(--token-UMbxF5R-PjPk);
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__v6L15 {
    font-size: 12px;
  }
}
.svg__vsssr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column___3Yfn1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___3Yfn1 {
    width: 100%;
  }
}
.freeBox__ooQju {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__ooQju > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ooQju > :global(.__wab_flex-container) > *,
.freeBox__ooQju > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ooQju > :global(.__wab_flex-container) > picture > img,
.freeBox__ooQju
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__wQgMy {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-0WIy-PTvIQv8);
  height: auto;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__sErNf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-UMbxF5R-PjPk);
  min-width: 0;
}
.text__eAIz {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-UMbxF5R-PjPk);
  align-self: flex-end;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__eAIz {
    font-size: 12px;
  }
}
