.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__mLp7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-EjUjtvY9ZYcS);
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  min-width: 0;
  padding: var(--token-cwXBKyst0naA) var(--token-rXETaqYQ_vSW);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mLp7 {
    padding-left: var(--token-uYBZNL1P_6gm);
    padding-right: var(--token-uYBZNL1P_6gm);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    min-width: 0;
  }
}
.freeBox__yhxY7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  z-index: 2;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yhxY7 {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 0;
    display: flex;
  }
}
.freeBoxsignedIn__yhxY7M4GJq {
  width: auto;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxsignedIn_menuOpen__yhxY7M4GJqFHbkS {
    width: 100%;
    min-width: 0;
  }
}
.link {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--token-0A2S0IYOUVgW);
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
}
.freeBox__rF211 {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 2;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rF211 {
    width: auto;
    height: auto;
    display: flex;
  }
}
.svg__uhqPq {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-0WIy-PTvIQv8);
  width: var(--token-rXETaqYQ_vSW);
  height: var(--token-rXETaqYQ_vSW);
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__uhqPq {
    display: block;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .svgmenuOpen__uhqPqfHbkS {
    display: none;
  }
}
.svg__cg6Ja {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-0WIy-PTvIQv8);
  width: var(--token-rXETaqYQ_vSW);
  height: var(--token-rXETaqYQ_vSW);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__cg6Ja {
    display: block;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .svgmenuOpen__cg6JafHbkS {
    display: block;
  }
}
.freeBox__soNhw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__soNhw {
    top: auto;
    z-index: 1;
    position: relative;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: auto;
    right: auto;
    bottom: auto;
    min-width: 0;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxmenuOpen__soNhwfHbkS {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background: var(--token-IA8HLN4N_);
    padding-top: 60px;
    min-width: 0;
    display: flex;
  }
}
.freeBox__ozKpy {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__ozKpy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-rXETaqYQ_vSW));
  width: calc(100% + var(--token-rXETaqYQ_vSW));
}
.freeBox__ozKpy > :global(.__wab_flex-container) > *,
.freeBox__ozKpy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ozKpy > :global(.__wab_flex-container) > picture > img,
.freeBox__ozKpy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-rXETaqYQ_vSW);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ozKpy {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ozKpy > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ozKpy > :global(.__wab_flex-container) > *,
  .freeBox__ozKpy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ozKpy > :global(.__wab_flex-container) > picture > img,
  .freeBox__ozKpy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.button__so15O:global(.__wab_instance) {
  max-width: 100%;
}
.svg__tbxG {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__xgzBn {
  color: var(--token-0WIy-PTvIQv8);
}
.svg__j8Xrm {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button___9Xpsf:global(.__wab_instance) {
  max-width: 100%;
}
.svg__n62Sz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___4R3J {
  color: var(--token-0WIy-PTvIQv8);
}
.svg__jKfjV {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__zxbBm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__hYv7G {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__g0Jd4 {
  color: var(--token-0WIy-PTvIQv8);
}
.svg__ehDF {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__eaqJf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__nG64W {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__sKHm2 {
  color: var(--token-0WIy-PTvIQv8);
}
.svg__qQwd1 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__evaVn {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__evaVn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-rXETaqYQ_vSW));
  width: calc(100% + var(--token-rXETaqYQ_vSW));
}
.freeBox__evaVn > :global(.__wab_flex-container) > *,
.freeBox__evaVn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__evaVn > :global(.__wab_flex-container) > picture > img,
.freeBox__evaVn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-rXETaqYQ_vSW);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__evaVn {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__evaVn > :global(.__wab_flex-container) {
    flex-direction: column;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__evaVn > :global(.__wab_flex-container) > *,
  .freeBox__evaVn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__evaVn > :global(.__wab_flex-container) > picture > img,
  .freeBox__evaVn
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBoxsignedIn__evaVnm4GJq {
  display: none;
}
.button__dBgmg:global(.__wab_instance) {
  max-width: 100%;
  display: flex;
}
.svg___6BmH3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__aj1Ha {
  padding-right: 0px;
  color: var(--token-0WIy-PTvIQv8);
}
.svg__hfEkP {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__x1Axt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ux29T {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__kGkhu {
  padding-right: 0px;
  color: var(--token-0WIy-PTvIQv8);
}
.svg__kaJi7 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__u8EZe {
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  display: none;
}
.freeBox__u8EZe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-rXETaqYQ_vSW));
  width: calc(100% + var(--token-rXETaqYQ_vSW));
}
.freeBox__u8EZe > :global(.__wab_flex-container) > *,
.freeBox__u8EZe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u8EZe > :global(.__wab_flex-container) > picture > img,
.freeBox__u8EZe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-rXETaqYQ_vSW);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__u8EZe {
    flex-direction: column;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__u8EZe > :global(.__wab_flex-container) {
    flex-direction: column;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__u8EZe > :global(.__wab_flex-container) > *,
  .freeBox__u8EZe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__u8EZe > :global(.__wab_flex-container) > picture > img,
  .freeBox__u8EZe
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBoxsignedIn__u8EZeM4GJq {
  display: flex;
}
.button__fSgha:global(.__wab_instance) {
  max-width: 100%;
  display: flex;
}
.svg__sVTj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__p3OwK {
  padding-right: 0px;
  color: var(--token-0WIy-PTvIQv8);
}
.svg__sl1Fp {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button___0MMz0:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___0TvZ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__b1Gi5 {
  padding-right: 0px;
  color: var(--token-0WIy-PTvIQv8);
}
.svg__vPyo3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
